name: pre-merge check

on:
  push:
    branches:
      - master
      - main
      - develop
      - features/sprint*
      - feature/ci*
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
      - '*.dockerfile'
      - '*.json'
  pull_request:
    branches:
      - master
      - main
      - develop
      - features/sprint*

env:
  go-version: '^1.25'

jobs:
  check:
    name: check
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - name: setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.go-version }}
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: 'false'
      - name: build image
        run: make build
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2.8.0

  test-by-build:
    name: build and test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: 'false'
      - name: build image
        run: docker compose build generateblock-bitcoin generateblock-elements
      - name: start bitcoin and elements
        run: docker compose up -d testing-bitcoin testing-elements
      - name: start generateblock
        run: docker compose up -d generateblock-bitcoin generateblock-elements
      - name: test
        run: docker compose up exec-test
      - name: stop
        run: docker compose down

  test-by-binary:
    name: binary test
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: 'false'
      - name: build image
        run: docker compose build generateblock-bin-bitcoin generateblock-bin-elements
      - name: start bitcoin and elements
        run: docker compose up -d testing-bitcoin testing-elements
      - name: start generateblock
        run: docker compose up -d generateblock-bin-bitcoin generateblock-bin-elements
      - name: test
        run: docker compose up exec-test
      - name: stop
        run: docker compose down
