name: create-release-upload

on:
  push:
    tags:
      - 'v*'

env:
  GO_VERSION: "1.24.6"

jobs:
  upload-object:
    name: upload-object
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os: [windows, linux, darwin]
        arch: [x64, arm64]
        include:
          - os: windows
            arch: x64
            goarch: amd64
            filename: generateblock-win_amd64.exe
          - os: windows
            arch: arm64
            goarch: arm
            filename: generateblock-win_arm.exe
          - os: linux
            arch: x64
            goarch: amd64
            filename: generateblock-linux_amd64
          - os: linux
            arch: arm64
            goarch: arm64
            filename: generateblock-linux_arm64
          - os: darwin
            arch: x64
            goarch: amd64
            filename: generateblock-darwin_amd64
          - os: darwin
            arch: arm64
            goarch: arm64
            filename: generateblock-darwin_arm64

    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: 'false'
      - name: setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: build
        env:
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.goarch }}
          OUTPUT: ${{ matrix.filename }}
        run: |
          go mod download
          go build -ldflags "-s -w" -o ${OUTPUT} ./cmd/generateblock/
      - name: create archive file
        if: matrix.os != 'windows'
        env:
          OUTPUT: ${{ matrix.filename }}
        run: |
          gzip ${OUTPUT}
          echo "---- dump gzip file ----"
          ls -l generateblock*
      - name: create archive file for windows
        if: matrix.os == 'windows'
        env:
          OUTPUT: ${{ matrix.filename }}
        run: |
          zip ${OUTPUT}.zip ${OUTPUT}
          echo "---- dump zip file ----"
          ls -l generateblock*
      - name: Upload Release Asset
        if: matrix.os != 'windows'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: ${{ matrix.filename }}.gz
      - name: Upload Release Asset for windows
        if: matrix.os == 'windows'
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: ${{ matrix.filename }}.zip

  upload-object-alpine-3-21:
    name: upload-object-alpine-3.21
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 10
    env:
      FILENAME: "generateblock-alpine3_21"
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: 'false'
      - name: list
        run: ls -a $GITHUB_WORKSPACE
      - name: docker setup
        id: test
        uses: docker://golang:1.24-alpine3.21
        with:
          entrypoint: /github/workspace/.github/workflows/docker/alpine_build_entrypoint.sh
      - name: create archive file
        run: |
          mv generateblock-alpine ${FILENAME}
          gzip ${FILENAME}
          echo "---- dump gzip file ----"
          ls -l generateblock*
      - name: Upload Release Asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: ${{ env.FILENAME }}.gz

  upload-object-alpine-3-22:
    name: upload-object-alpine-3.22
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 10
    env:
      FILENAME: "generateblock-alpine3_22"
    steps:
      - name: checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: 'false'
      - name: list
        run: ls -a $GITHUB_WORKSPACE
      - name: docker setup
        id: test
        uses: docker://golang:1.24-alpine3.22
        with:
          entrypoint: /github/workspace/.github/workflows/docker/alpine_build_entrypoint.sh
      - name: create archive file
        run: |
          mv generateblock-alpine ${FILENAME}
          gzip ${FILENAME}
          echo "---- dump gzip file ----"
          ls -l generateblock*
      - name: Upload Release Asset
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: ${{ env.FILENAME }}.gz
